.mat-card {
    width: calc(100% - 50px);
    height: calc(100% - 80px);
}

.mat-card-title-group {
    height: calc(100% - 80px);
}

.mat-card-subtitle {
    font-size: calc(.50vw + .75vh);
}

td.mat-column-name h4 {
    font-weight: bold;
}

.container {
    width: calc(100% - 30px);
    margin: 0 auto;
}

.form-container {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.filter-container {
    flex-grow: 1;
}

.filter-container .mat-form-field {
    display: block;
}