<div class="container">
    <div class="form-container">
        <div class="filter-container">
            <mat-form-field>
                <mat-label>Search by name or category</mat-label>
                <input matInput [(ngModel)]="searchString" (ngModelChange)="applyFilter()"/>
                <button mat-icon-button type="button" matSuffix *ngIf="searchString != ''" (click)="resetFilter()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Sort by</mat-label>
                <mat-select [(ngModel)]="sortField" (ngModelChange)="applySort()">
                    <mat-option value="1">Price, ascending</mat-option>
                    <mat-option value="2">Price, descending</mat-option>
                    <mat-option value="3">Name, ascending</mat-option>
                    <mat-option value="4">Name, descending</mat-option>
                </mat-select>
                <button mat-icon-button type="button" matSuffix *ngIf="sortField != 0" (click)="resetSort()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
</div>

<mat-grid-list cols="5">
    <mat-grid-tile *ngFor="let product of productsObservable | async">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>&dollar;{{product.price}}</mat-card-title>
                <mat-card-subtitle>{{product.title}}</mat-card-subtitle>
                <img mat-card-md-image src="{{product.image}}" alt="product" matTooltip="{{product.title}}"/>
            </mat-card-title-group>
            <mat-card-actions>
                <button mat-fab color="primary" matTooltip="Add to cart" (click)="addToCart(product)">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>