<mat-grid-list cols="5">
    <mat-grid-tile *ngFor="let product of productsObservable | async">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>&dollar;{{product.price}}</mat-card-title>
                <mat-card-subtitle>{{product.title}}</mat-card-subtitle>
                <img mat-card-md-image src="{{product.image}}" alt="product" matTooltip="{{product.title}}"/>
            </mat-card-title-group>
            <mat-card-actions>
                <button mat-fab color="primary" matTooltip="Add to cart" (click)="addToCart(product)">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>